* {
  font-family: Consolas,Verdana,"Microsoft Yahei";
}
.box  {width:100%;height:100%;background:#ccc;display:grid;grid-row-gap: 50px;}
.line {height:100%;background:red;display:inline-grid;}

.app {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto-flow;
}

#works{
  height: 100%;
}
#works td{
  background: #9f9;
  min-width: 8em;
  text-align: center;
}
#works * {
  margin: 0 auto;
  padding: 3px;
  width: 24em;
  overflow-y:visible;
  display: block
}
#works hr {
  border:1px solid #ccc;
  width:24em;
  margin:20% auto;
}
#works .modify {
  -webkit-user-modify: read-write-plaintext-only;
  user-modify: read-write-plaintext-only;
}
#works p {
  min-width: 24em;
  border:inset 2px solid #ccc;
  border-radius:3.33px;
  margin-top: 1px;
  white-space: pre-wrap;
  word-break: break-all;
  background: #eee;
}
#works p:focus {
  background: #fffe;
}
#works p::before {
  content: attr(id);
  background: #ccc;
  color: #666;
  border-radius: 3px;
  transform: rotate(-12deg) translate(-120%,-66%);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  position: absolute;
}
#works p:focus::before {
  background: #ccfc;
  transform: rotate(-6deg) translate(-10%,-125%) scale(1.2);
  color:#00fc;
  font-weight: bold;
}
#works p:hover {
  background: #fff;
}
textarea {
  width: 24em;
}